*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family:Helvetica, sans-serif;
}
header{
    position:fixed;
    height:120px;
    width:100vw;
    border-bottom:1px solid lightgray;
    background:white;
    z-index:100;
}
nav{
    position:fixed;
    height:40px;
    width:100%;
    top:0;
    left:0;
    text-align:center;
    border-bottom:1px solid lightgray;
}
nav ul{
    list-style-type:none;
    width:100vw;
    height:40px;
    display:inline;
}
nav ul li{
    display:inline-block;
    height:40px;
    width:100px;
}
nav ul li a{
    display:block;
    width:100px;
    height:40px;
    line-height:40px;
    text-decoration:none;
    color:grey;
    transition:all 0.5s ease-in-out;
}
nav ul li a:hover{
    color:black;
    border-bottom:1px solid black;
}
h1{
    position:fixed;
    font-size:50px;
    font-weight:100;
    color:rgb(58, 57, 57);
    top:50px;
    left:50px;
}
#accueil{
    position:relative;
    min-height:100vh;
    min-width:100vw;
    top:120px;
    left:0;
    border-bottom:1px solid lightgray;
}
#accueil h2{
    position:absolute;
    top:40%;
    width:100%;
    text-align:center;
    font-size:50px;
    font-weight:100;
    color:rgb(58, 57, 57);
    text-decoration:underline;
}
#presentation{
    position:relative;
    min-height:100vh;
    min-width:100vw;
    top:0;
    left:0;
    border-bottom:1px solid lightgray; 
}
.left{
    position:relative;
    height:100vh;
    width:50vw;
    top:120px;
    left:0;
    background:lightgray;
}
.left h3{
    position:relative;
    top:5git add .
    0px;
}
#contact{
    position:relative;
    min-height:100vh;
    min-width:100vw;
    top:0;
    left:0;
    border-bottom:1px solid lightgray; 
}
