*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family:Helvetica, sans-serif;
}
html {
    scroll-behavior: smooth;
  }
body{
    min-height:100vh;
    min-width:100vw;
}
header{
    position:fixed;
    height:120px;
    width:100vw;
    top:0;
    border-bottom:1px solid lightgray;
    background:white;
    z-index:100;
}
nav{
    position:fixed;
    height:40px;
    width:100%;
    top:0;
    left:0;
    text-align:center;
    border-bottom:1px solid lightgray;
}
nav ul{
    list-style-type:none;
    width:100vw;
    height:40px;
    display:inline;
}
nav ul li{
    display:inline-block;
    height:40px;
    width:100px;
}
nav ul li a{
    display:block;
    width:100px;
    height:40px;
    line-height:40px;
    text-decoration:none;
    color:grey;
    transition:all 0.5s ease-in-out;
}
nav ul li a:hover{
    color:black;
    border-bottom:1px solid black;
}
h1{
    position:fixed;
    font-size:50px;
    font-weight:100;
    color:rgb(58, 57, 57);
    top:50px;
    left:50px;
}
#accueil{
    height:100vh;
    width:100vw;
    margin-top:120px;
}
#accueil h2{
    position:absolute;
    top:40%;
    width:100%;
    text-align:center;
    font-size:50px;
    font-weight:100;
    color:rgb(58, 57, 57);
    text-decoration:underline;
}
#presentation{
    min-height:100vh;
    min-width:100vw;
    margin-top:0px;
    background:url(../images/archi.jpg)fixed no-repeat;
    background-size:cover;
}
#contact{
    min-height:100vh;
    min-width:100vw;
    background:url(../images/archi.jpg)center no-repeat;
    background-size:cover; 
}
.left{
    height:100vw;
    width:50vw;
    margin:0;
    background:white;
    border-right:1px solid grey;
}
.left h3{
    position:relative;
    top:200px;
    left:50px;
    margin:0;
    font-size:40px;
    font-weight:100;
}
#contact h3{
    position:relative;
    top:200px;
    width:500px;
    left:calc(50% - 250px);
    text-align:center;
    font-size:40px;
    font-weight:100;
    background:rgba(255, 255, 255, 0.5);
    padding:20px;
    color:rgb(58, 57, 57);
}
